In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

sc = SparkContext()

spark = SparkSession.builder.appName('meuappspark').config("spark.sql.repl.eagerEval.enabled", True).getOrCreate()

In [2]:
df = spark.createDataFrame([
    {"nome": "joao", "idade": 30},
    {"nome": "maria", "idade": 25},
    {"nome": "pedro", "idade": 32}
])

df

+-----+-----+
|idade| nome|
+-----+-----+
|   30| joao|
|   25|maria|
|   32|pedro|
+-----+-----+